.lights {
    display: grid;
}

.led {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: #000000ff solid 1px;
}

.led:hover {
    cursor: pointer;
}

.pallette {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
